In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.tree import DecisionTreeClassifier

In [3]:
studentInfo = pd.read_csv('studentInfo.csv')

In [4]:
###### modifications #######
#removing empty fields
nan_value = float("NaN")
studentInfo.replace("", nan_value, inplace=True)
studentInfo.dropna(subset = list(studentInfo.columns), inplace=True)
studentInfo.dropna(subset = ['final_result'], inplace=True)
# remove withdrawn
studentInfo = studentInfo.drop(studentInfo[studentInfo.final_result == 'Withdrawn'].index)
# distinction = pass
studentInfo.loc[studentInfo.final_result == 'Distinction', ['final_result']] = 'Pass'

In [5]:
print(studentInfo)

      code_module code_presentation  id_student gender                region  \
0             AAA             2013J       11391      M   East Anglian Region
1             AAA             2013J       28400      F              Scotland
3             AAA             2013J       31604      F     South East Region
4             AAA             2013J       32885      F  West Midlands Region
5             AAA             2013J       38053      M                 Wales
...           ...               ...         ...    ...                   ...
32587         GGG             2014J     2620947      F              Scotland
32588         GGG             2014J     2640965      F                 Wales
32589         GGG             2014J     2645731      F   East Anglian Region
32590         GGG             2014J     2648187      F          South Region
32592         GGG             2014J     2684003      F      Yorkshire Region

           highest_education imd_band age_band  num_of_prev_attempts  \
0           HE Qualification  90-100%     55<=                     0
1           HE Qualification   20-30%    35-55                     0
3      A Level or Equivalent   50-60%    35-55                     0
4         Lower Than A Level   50-60%     0-35                     0
5      A Level or Equivalent   80-90%    35-55                     0
...                      ...      ...      ...                   ...
32587  A Level or Equivalent   80-90%     0-35                     0
32588     Lower Than A Level   20-Oct     0-35                     0
32589     Lower Than A Level   40-50%    35-55                     0
32590  A Level or Equivalent   20-30%     0-35                     0
32592       HE Qualification   50-60%    35-55                     0

       studied_credits disability final_result
0                  240          N         Pass
1                   60          N         Pass
3                   60          N         Pass
4                   60          N         Pass
5                   60          N         Pass
...                ...        ...          ...
32587               30          Y         Pass
32588               30          N         Fail
32589               30          N         Pass
32590               30          Y         Pass
32592               30          N         Pass

[21562 rows x 12 columns]